.logo {
    width: 10rem;
}

.logo img {
    width: 100%;
}

.button {
   background-color: #f68b1e;
   color: #ffffff;
   padding: 0.5rem 1rem;
   border-radius: 4px;
   cursor: pointer;
}

.button:hover {
    background-color: #e57a0f;
 }

.button:active {
    background-color: #e7831e;
 }

.product_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2% auto 5% auto;
}